@media screen and (max-width: 768px) {
    ul {
        margin: 0 auto;
        padding: 10px;
        width: 80%;
    }
}

html, body {
    height: 100%;
    margin: 0;
}

main, p {
    margin-left: 20px;
    margin-right: 20px;
}

body {
    background-color: #1A1A1A;
    color: #FFFFFF;
    font-family: 'Segoe UI', Arial, sans-serif;
    padding: 0;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
}

header, h1 {
    text-align: center;
}

body, h2 {
    text-align: center;
}

p a {
    text-decoration:#00ffa3;
    color: #00ffa3;
}

ul {
    margin-left: 20px;
    margin-right: 20px;
    display: inline-grid;
    text-align: left;
    padding: 20px;
    list-style-position: inside;
}

.socialicons {
    font-size: 30px;
    gap: 30px;
    display: flex;
    justify-content: center;
    color: white;
}

.socialicons a {
    text-decoration: #00ffa3;
    color: #00ffa3;
}

footer {
    margin-top: auto;
    text-align: center;
    padding: 20px;
}